<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="footer">
      <div class="foot-icons">
        <img src="/image/fb.png" alt="" />
        <img src="/image/insta.png" alt="" />
        <img src="/image/twiter.png" alt="" />
        <img src="/image/Linkedin.png" alt="" />
      </div>
      <div class="foot-coryright">Copyright ©2020 All rights reserved</div>
    </div>
  </body>
</html>
