<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h2>hello Home Page</h2>
    <a href="/">Home</a>
    <a href="/about">About</a>
    {{#if isActive}}
      <h2>yeah, Im Active</h2>
    {{else}}
      <h2>no, Im not Active</h2>
    {{/if}}
  </body>
</html>