* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1152px;
  margin: 0 auto;
}
header {
  height: 595px;
}
.nav-con {
  display: flex;
  justify-content: end;
  padding: 27px 60px;
  gap: 33px;
}
.nav-con a {
  color: black;
  font-weight: 900;
  text-decoration: none;
  font-size: 20px;
}
.user-info {
  margin-top: 140px;
  display: flex;
  justify-content: center;
  gap: 110px;
}

.user-left {
  width: 506px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: start;
}
.user-left h1 {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 136.364% */
}
.user-left p {
  width: 497px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.user-left button {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  background: var(--Primary, #ff6464);
  color: white;
  border: none;
  outline: none;
}

/* aside  */
.post {
  display: flex;
  background-color: #edf7fa;
  flex-direction: column;
  align-items: center;
  height: 396px;
  width: 100%;
  gap: 25px;
}
.post-top {
  display: flex;
  width: 856px;
  justify-content: space-between;
  margin-top: 27px;
}
.post-bottom {
  width: 856px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.post-box {
  width: 418px;
  background-color: white;
  display: flex;
  gap: 17px;
  flex-direction: column;
  padding: 23px 24px 27px 21px;
}
.post-title {
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.post-date {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.post-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

/* footer */
.footer {
  height: 182px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: center;
  align-items: center;
}
.foot-icons {
  display: flex;
  gap: 35px;
}
footer {
  height: 182px;
}
/* featured-items */
.featured-works {
  width: 856px;
  margin: 0 auto;
}
.featured-works p {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 272.727% */
}
.featured-items {
  display: flex;
  flex-direction: column;
}
.featured-left {
  display: flex;
  gap: 18px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  margin-top: 31px;
}
.featured-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.featured-date {
  border-radius: 16px;
  width: 62px;
  height: 25px;
  background: #142850;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
}
.date {
  display: flex;
  gap: 26px;
  align-items: center;
}
.featured-desc {
  width: 500px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.featured-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

/* blog-page */
.blog-page {
  max-width: 1152px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
.blog-head {
  height: 100px;
}

.blog-title {
  width: 681px;
  margin: 0 auto;
}

.blog-title h1 {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 136.364% */
}
.blog-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.blog-titles {
  margin-top: 10px;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.blog-date {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blog-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 682px;
  height: 43px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}
